<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Гостевая книга</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>
<body>

<div class="container">

    <h1>📖 Гостевая книга</h1>

    <p class="counter">
        Всего сообщений: {{ total_count }}
    </p>

    <div class="sort-links">
        <a href="/sort/newest">
            📅 Сначала новые
        </a>

        <a href="/sort/oldest">
            📅 Сначала старые
        </a>
    </div>

    <form action="/add" method="POST">

        <input
            type="text"
            name="name"
            placeholder="Ваше имя"
            required
        >

        <textarea
            name="message"
            placeholder="Ваше сообщение"
            required
        ></textarea>

        <button type="submit">
            Отправить
        </button>

    </form>

    <h2>Сообщения</h2>

    {% if messages %}

        {% for msg in messages %}

            <div class="
            message
            {% if msg.created_at == today %}
            fresh
            {% endif %}
            ">
            <strong>
                {{ msg.name }}
            </strong>

            <small>
                ({{ msg.created_at }})
            </small>

            <a
            href="/delete/{{ msg.id }}"
            class="delete-btn"
            onclick="return confirm('Удалить сообщение?')"
            >
            </a>

            <p>
                💬 {{ msg.message }}
            </p>

            </div>

        {% endfor %}

    {% else %}

        <p>Пока нет сообщений.</p>

    {% endif %}

</div>

</body>
</html>